SITE_ENV=prod

SITE_URL=https://patascompanhia.pt/www/ 

SMTP_USER=rafaelgranja99@gmail.com
SMTP_PASS="rwll hxpr fdyj cblu"
SMTP_MAIL=rafaelgranja99@gmail.com
SMTP_NAME="Patas & Companhia"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
